# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# R Environment Variables
.Renviron

# RStudio Connect folder
rsconnect/

# raw data file (also in shared GoogleDrive)
data/raw/
data/derived/

# dev files
analysis/dev*
